// Define mixins
@mixin container {
  max-width: $grid-maxwidth;
  margin: 0 auto;
  padding: 0 calc($grid-gutter / 2);
}

@mixin row($span: 1) {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $grid-gutter / 2);
  margin-right: calc(-1 * $grid-gutter / 2);

  // Row span
  @if $span > 1 {
    flex-wrap: wrap;
    margin-bottom: -$grid-gutter;
  }
}

@mixin column($columns: 1, $span: 1) {
  flex: 0 0 calc(100% / $grid-columns * $columns);
  //padding: 0 calc($grid-gutter / 2);

  // Column span
  @if $span > 1 {
    flex-basis: calc(100% / $grid-columns * $span - #{$grid-gutter});
    //margin-right: $grid-gutter;
  }
}